.lead-photo {
    min-height: 450px;
    padding: 1em 0;
    background: url('/static/mountains-1645078_1280-min.jpg') no-repeat center transparent!important;
    background-size: cover !important;
}

h1.ui.inverted.lead-header {
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 1em;
    text-shadow: 3px 3px 1px black;
}

.lead-subheader {
    font-size: 1.7em;
    font-weight: normal;
    text-shadow: 2px 2px 1px black;
}